<html>
    <head >
        <title>Home page</title>
    </head>
    <body>
        <h1 style="color:red">this is home page</h1>
       <%= link_to 'Alpa Blog',articals_path %> | <%= link_to 'about',about_path %>
        <%= link_to image_tag('https://static.pexels.com/photos/248797/pexels-photo-248797.jpeg'), "https://www.youtube.com/" %>
    </body>
</html>