
    <footer class="footer container">
        <small>
         copyrigth &copy;<a href="http://www.udmey.com">ruby on rails developer course</a> by
            <a href="www.http://www.google.com">google</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'about',about_path%></li>
            </ul>
        </nav>
        
    </footer>
